<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'show.css' %}">
    <title>
        Quotes
    </title>
        <br>
        <br>
        <center>
            <h1>
                <em>
                    "Costa"
                </em>  
            </h1>    
        </center>
</head>
<body>
    {% csrf_token %}
    <div id = "d1">
        <div id = 'd2'>
           <em>
                "{{ quotes.text }}"
           </em> 
        </div>
    </div>
</body>
</html>